*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e0e0e0; 
    background: #000;
}


header{
    background: rgba(255,255,255, 0.3);
    backdrop-filter: blur(10px);
    /* opacity: 0.7; */
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3); 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    color: #ff6f61;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header h3{
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: #ff6f61;
    font-size: 1.2rem;
    font-weight: 500;
}

#mainImage{
    background: url('./bg_2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    /* z-index: 1; */
}

#mainImage::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    /* z-index: -1; */
}

#mainText{
    position: relative;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
}

#mainText h1{
    font-size: 3rem;
    margin-bottom: 14px;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./texture.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.container::before{
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100vh;
}

.innerContainer{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    max-width: 900px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

img{
    width: 200px;
    border-radius: 12%;
    margin-top: 20px;
    margin-bottom: 14px;
    border: 5px solid #ff6f61;
    box-shadow: 0 4px 15px rgba(0,0,0, 0.3);

}

img:hover{
    transform: scale(1.02);
}

#imgSide, #textSide{
    margin: auto;
    width: 50%;
}

#imgSide div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#textSide{
    padding-left: 28px;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    gap: 2rem;
}

#top-text h2{
    margin-bottom: 1rem;
}

#top-text p{
    text-align: justify;
}

#button{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #ff6f61;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    margin-top: 12px;
}

#button:hover{
    background: #ff3b2f;
    transform: translateY(-3px);
}

ul{
    list-style: none;
}

ul li{
    background: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-left: 8px solid #ff3b2f;
}

ul li:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

footer{
    background: #333;
    padding: 15px;
    margin-top: 40px;
    box-shadow: 0 -4px 6px rgba(0,0,0, 0.3);
    text-align: center;
    position: relative;
    z-index: 999;
}

footer p{
    font-size: 1rem;
    color: #e0e0e0;
}